@model IEnumerable<DtoModels.DtoAliados>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aliado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aliado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idTable=item.id }) |
            @Html.ActionLink("Details", "Details", new { idTable=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { idTable=item.id })
        </td>
    </tr>
}

</table>
